<div class="swiper-wrapper">
    {%  for block in section.blocks %}
        {% liquid
            assign banner_link = false
            assign has_only_button = false
            if block.settings.title == blank and block.settings.subheading == blank and block.settings.link != blank and block.settings.link_text == blank
                assign banner_link = true
            endif

            if block.settings.title == blank and block.settings.subheading == blank and block.settings.link != blank and block.settings.link_text != blank
                assign has_only_button = true
            endif
        %}
        <div class="swiper-slide">
            {% if block.settings.video_desktop != blank or block.settings.desktop_image != blank %}
            {% if banner_link == true %}
                <a href="{{ block.settings.link }}">
            {% endif %}
            <div class="video-banner-media flex">
                {% render 'banner-image-video', main_section: block %}
            </div>
            {% if banner_link == true %}
                </a>
            {% endif %}
            {% endif %}
            {% if has_only_button == true %}
            <div class="video-banner-content page-width content-align-bottom-right">
                <a
                href="{{ block.settings.link }}"
                class="flex video-content-arrow__button body-text-small small-body-text-small"
                >
                {{ block.settings.link_text }}
                <span class="flex arrow-link">{% render 'icons', icon: 'button-arrow' %}</span>
                </a>
            </div>
            {% else %}
            {% if block.settings.title != blank
                or block.settings.subheading != blank
                or block.settings.link != blank
                and block.settings.link_text != blank
            %}
                <div class="video-banner-content page-width content-align-{{ block.settings.text_align }}">
                    <div class="video-banner-content__inner-wrapper">
                        {%- if block.settings.title != blank -%}
                        <div class="video-content__heading uppercase heading-extra-large small-heading-extra-large heading-text-large-thin">
                            {{ block.settings.title }}
                        </div>
                        {% endif %}
                        {%- if block.settings.subheading != blank -%}
                        <div class="video-content__subheading heading-text-small-thin">{{ block.settings.subheading }}</div>
                        {% endif %}
                        {%- if block.settings.description != blank -%}
                        <div class="video-content__description body-text">{{ block.settings.description }}</div>
                        {% endif %}
                        {%- if block.settings.link != blank and block.settings.link_text != blank -%}
                        <a
                            href="{{ block.settings.link }}"
                            class="video-content__button button {%if block.settings.button_type == "outline" %} button--secondary {% endif %} body-text-small small-body-text-small"
                        >
                            {{- block.settings.link_text -}}
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>