{% liquid

  assign show_stone = false
  assign show_shape = false
  assign show_carat = false
  assign show_clarity = false
  assign show_color = false

  assign diamond_type_1 = product.metafields.custom.gemstone_mainstone1 | replace: '"', ''| replace: ']', ''| replace: '[', ''| replace: ',', ', ' | downcase
  assign diamond_type_2 = product.metafields.custom.secondary_stone_catawiki | replace: '"', ''| replace: ']', ''| replace: '[', ''| replace: ',', ', '  | downcase

  assign diff_show_clearity = false
  if diamond_type_1 contains 'diamond' or diamond_type_2 contains 'diamond'
    if product.metafields.custom.diamond_clarity_of_main_stone != blank or product.metafields.custom.diamond_clarity_of_surrounding_stone1 != blank
      assign diff_show_clearity = true
    endif
  endif

  assign diif_show_stone = false
  if product.metafields.custom.gemstone_mainstone1 != blank or product.metafields.custom.secondary_stone_catawiki != blank
    assign diif_show_stone = true
  endif

  assign diif_show_shape = false
  if product.metafields.custom.shape_of_mainstone_catawiki != blank or product.metafields.custom.shape_of_surrounding_stone1 != blank
    assign diif_show_shape = true
  endif

  assign diif_show_caret = false
  if product.metafields.custom.total_carat_weight_of_main_stone != blank or product.metafields.custom.total_carat_weight_of_surrounding_stone != blank
    assign diif_show_caret = true
  endif

  assign diif_show_color = false
  if product.metafields.custom.diamond_colour_grade_of_main_stone != blank or product.metafields.custom.diamond_colour_grade_of_surrounding_stones != blank
    assign diif_show_color = true
  endif

  for i in (3..6)
    assign st_key = 'stone_' | append: i | append: '_type_of_stone'
    assign sh_key = 'stone_' | append: i | append: '_shape'
    assign ca_key = 'stone_' | append: i | append: '_carat'
    assign cl_key = 'stone_' | append: i | append: '_clarity'
    assign co_key = 'stone_' | append: i | append: '_color'

    assign type_val_li = product.metafields.custom[st_key] | replace: '"', ''| replace: ']', ''| replace: '[', ''| replace: ',', ', '  | downcase

    if diif_show_stone == true or product.metafields.custom[st_key] != blank
      assign show_stone = true
    endif

    if diif_show_shape == true or product.metafields.custom[sh_key] != blank
      assign show_shape = true
    endif

    if diif_show_caret == true or product.metafields.custom[ca_key] != blank
      assign show_carat = true
    endif

    if diif_show_color == true or product.metafields.custom[co_key] != blank
      assign show_color = true
    endif

    if type_val_li contains 'diamond' or diff_show_clearity == true
      if product.metafields.custom[cl_key] != blank or diff_show_clearity == true
        assign show_clarity = true
      endif
    endif
  endfor
  
%}
<div class="details-table-wrapper">
  <table class="details-table">
    <thead>
      <tr>
        {% if show_stone == true %}
          <th>Stone</th>
        {% endif %}
        {% comment %} {%  if show_weight  %}<th>Main Stone Weight</th> {%  endif %} {% endcomment %}
        {% if show_shape == true %}
          <th>Shape</th>
        {% endif %}
        {% if show_carat == true %}
          <th>Weight</th>
        {% endif %}
        {% if show_clarity == true %}
          <th>Clarity</th>
        {% endif %}
        {% if show_color == true %}
          <th>Color</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% if details_1 == true %}
        {% assign diamond_type_1 = product.metafields.custom.gemstone_mainstone1 | downcase %}
        <tr class="details-item">
          {% if show_stone == true %}
            <td>
              {{
                product.metafields.custom.stone_source_etsy
                | replace: '"', ''
                | replace: ']', ''
                | replace: '[', ''
                | replace: ',', ', '
              }}
              {{
                product.metafields.custom.gemstone_mainstone1
                | replace: '"', ''
                | replace: ']', ''
                | replace: '[', ''
                | replace: ',', ', '
              }}
            </td>
          {% endif %}

          {% comment %}
            {%  if show_weight %}
            <td> {{  product.metafields.custom.gross_weight_catawiki1.value }}</td>
            {%  endif %}
          {% endcomment %}
          {% if show_shape == true %}
            <td>
              {{
                product.metafields.custom.shape_of_mainstone_catawiki
                | replace: '"', ''
                | replace: ']', ''
                | replace: '[', ''
                | replace: ',', ', '
              }}
            </td>
          {% endif %}

          {% if show_carat == true %}
            <td>
              {{
                product.metafields.custom.total_carat_weight_of_main_stone
                | replace: '"', ''
                | replace: ']', ''
                | replace: '[', ''
                | replace: ',', ', '
              }}
            </td>
          {% endif %}

          {% if show_clarity == true %}
            <td>
              {{
                product.metafields.custom.diamond_clarity_of_main_stone
                | replace: '"', ''
                | replace: ']', ''
                | replace: '[', ''
                | replace: ',', ', '
              }}
            </td>
          {% endif %}

          {% if show_color == true %}
            <td>
              {{
                product.metafields.custom.diamond_colour_grade_of_main_stone
                | replace: '"', ''
                | replace: ']', ''
                | replace: '[', ''
                | replace: ',', ', '
              }}
            </td>
          {% endif %}
        </tr>
      {% endif %}

      {% if details_2 == true %}
        {% assign diamond_type_2 = product.metafields.custom.secondary_stone_catawiki | downcase %}
        <tr class="details-item">
          {% if show_stone == true %}
            <td>
              {{
                product.metafields.custom.stone_source_etsy
                | replace: '"', ''
                | replace: ']', ''
                | replace: '[', ''
                | replace: ',', ', '
              }}
              {{
                product.metafields.custom.secondary_stone_catawiki
                | replace: '"', ''
                | replace: ']', ''
                | replace: '[', ''
                | replace: ',', ', '
              }}
            </td>
          {% endif %}
          {% comment %} <td></td> {% endcomment %}

          {% if show_shape == true %}
            <td>
              {{
                product.metafields.custom.shape_of_surrounding_stone1
                | replace: '"', ''
                | replace: ']', ''
                | replace: '[', ''
                | replace: ',', ', '
              }}
            </td>
          {% endif %}

          {% if show_carat == true %}
            <td>
              {{
                product.metafields.custom.total_carat_weight_of_surrounding_stone
                | replace: '"', ''
                | replace: ']', ''
                | replace: '[', ''
                | replace: ',', ', '
              }}
            </td>
          {% endif %}

          {% if show_clarity == true %}
            <td>
              {{
                product.metafields.custom.diamond_clarity_of_surrounding_stone1
                | replace: '"', ''
                | replace: ']', ''
                | replace: '[', ''
                | replace: ',', ', '
              }}
            </td>
          {% endif %}

          {% if show_color == true %}
            <td>
              {{
                product.metafields.custom.diamond_colour_grade_of_surrounding_stones
                | replace: '"', ''
                | replace: ']', ''
                | replace: '[', ''
                | replace: ',', ', '
              }}
            </td>
          {% endif %}
        </tr>
      {% endif %}

      {% for i in (3..6) %}
        {% capture details_check %}details_{{ i }}{% endcapture %}
        {% if [details_check] == true %}
          {% capture stone_type_key %}stone_{{ i }}_type_of_stone{% endcapture %}
          {% capture stone_shape_key %}stone_{{ i }}_shape{% endcapture %}
          {% capture stone_carat_key %}stone_{{ i }}_carat{% endcapture %}
          {% capture stone_clarity_key %}stone_{{ i }}_clarity{% endcapture %}
          {% capture stone_color_key %}stone_{{ i }}_color{% endcapture %}

          {% assign type_val = product.metafields.custom[stone_type_key] | downcase %}

          <tr class="details-item">
            {% if show_stone == true %}
              <td>
                {{ product.metafields.custom.stone_source_etsy | replace: '"', '' | remove: '[' | remove: ']' }}
                {{ product.metafields.custom[stone_type_key] | replace: '"', '' | remove: '[' | remove: ']' }}
              </td>
            {% endif %}

            {% comment %} <td></td> {% endcomment %}

            {% if show_shape == true %}
              <td>
                {{ product.metafields.custom[stone_shape_key] | replace: '"', '' | remove: '[' | remove: ']' }}
              </td>
            {% endif %}

            {% if show_carat == true %}
              <td>
                {{ product.metafields.custom[stone_carat_key] | replace: '"', '' | remove: '[' | remove: ']' }}
              </td>
            {% endif %}

            {% if show_clarity == true %}
              <td>
                {{ product.metafields.custom[stone_clarity_key] | replace: '"', '' | remove: '[' | remove: ']' }}
              </td>
            {% endif %}

            {% if show_color == true %}
              <td>
                {{ product.metafields.custom[stone_color_key] | replace: '"', '' | remove: '[' | remove: ']' }}
              </td>
            {% endif %}
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
