{{ 'product-carousel.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
    #product-carousel-{{ section.id }}{
      --color-foreground: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }},{{ section.settings.text_color.blue }};
      --color-background: {{ section.settings.background_color.red }}, {{ section.settings.background_color.green }},{{ section.settings.background_color.blue }};
      --badge-color: {{ section.settings.badge_text_color }};
      --badge-background-color: {{ section.settings.badge_background_color }};
      --color-link : var(--color-foreground);
  }
{%- endstyle -%}
<section id="product-carousel-{{ section.id }}" class="product-carousel isolate section-{{ section.id }}-padding">
  {% if section.settings.heading_text != blank or section.settings.link_text != blank  %}
    <div class="heading-wrapper page-width flex">
        {%  if section.settings.heading_text != blank %}
          <div class="section-heading heading-extra-large-v2 small-heading-extra-large-v2" style="color: {{ section.settings.heading_text_color  }}">
            {{ section.settings.heading_text }}
          </div>
        {%  endif %}
        {% if section.settings.collection != blank and section.settings.collection.products_count > 10  %}
          <a class="link heading-text-small-thin-v2" href="{{ section.settings.collection.url  }}" style="color: {{  section.settings.button_color }}"> {{ section.settings.link_text }}</a>
        {% endif %}
    </div>
  {% endif %}
  {%  if section.settings.collection != blank %}
    <collection-product-carousel data-desktopp-spacing="20" data-mobile-spacing="10" data-slide-par-view-desktop="4.9" data-slide-par-view-mobile="1.2" data-after-offset-desktop="0" data-after-offset-mobile="0">
      <div class="swiper js-collection-product-carousel">
        <div class="swiper-wrapper">
          {% for product in section.settings.collection.products limit: 10 %}
              <div class=" main-product swiper-slide">
                    {%  render 'custom-product-card', product: product %}
              </div>
          {% endfor %}
        </div>
      </div>
    </collection-product-carousel>
  {% endif %}


</section>

{% schema %}
  {
    "name": "Product Carousel",
    "tag": "section",
    "settings": [
       //{
      //  "type": "color",
        //"id": "background_color",
        //"label": "Background Color",
        //"default": "#F5EFE6"
      //},
      {
        "type": "color",
        "id": "heading_text_color",
        "label": "Heading Text Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "alpha": true,
        "id": "badge_background_color",
        "label": "Badge Background Color",
        "default": "#5A0117"
      },
      {
        "type": "color",
        "id": "badge_text_color",
        "label": "Badge Color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "heading_text",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text",
        "default": "view All Products"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "header",
        "content": "Padding - Desktop"
      },
      {
        "type": "range",
        "id": "padding_top_desktop",
        "label": "Padding Top - Desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 35
      },
      {
        "type": "range",
        "id": "padding_bottom_desktop",
        "label": "Padding Bottom - Desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 35
      },
      {
        "type": "header",
        "content": "Padding - Mobile"
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "label": "Padding Top - Mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 25
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom - Mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 25
      }
    ],
    "presets": [
      {
        "name": "Product Carousel",
      }
    ]
  }
{% endschema %}