{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top_mobile }}px;
    background: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
    --color-foreground: {{ section.settings.text_color.red }},{{ section.settings.text_color.green }},{{ section.settings.text_color.blue }};
    --color-link: var(--color-foreground);
  }

   .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }


  @media screen and (min-width: 769px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--auto-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- if section.settings.newsletter_enable -%}
              <div
                  class="footer-block grid__item footer-block--news-letter {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  style= "--item-width: {{ section.settings.newsletter_container_width }}px"
              >
                    <div class="footer-block__details-content rte">
                       {% render 'footer-news-letter', main_section: section %}
                    </div>
               </div>
            {%  endif %}
            <div class="inner-wrapper grid-item grid grid--1-col grid--2-col grid--auto-col-tablet ">
              <div class="grid-item-inner">
                  {%- if has_social_icons and section.settings.show_social == true -%}
                    <div
                      class="footer-block grid__item footer-block--sicial-links {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    style= "--item-width: {{ section.settings.social_container_width }}px"
                    
                    >
                      {% assign  defaultTite = 'general.social.links.title' | t %}
                        <div class="footer-block__heading inline-richtext body-text-medium uppercase">
                          {{ section.settings.social_title | default: defaultTitle  }}</div>
                        <div class="footer-block__details-content rte">
                          {%- render 'social-links', class: 'footer__list-social' -%}
                        </div>
                    </div>
                  {% endif %}
                
                  {%- for block in section.blocks -%}
                    <div
                      class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {{ block.shopify_attributes }}
                    style= "--item-width: {{ block.settings.container_width }}px"
                    >
                      {%- if block.settings.heading != blank -%}
                        <div class="footer-block__heading inline-richtext body-text-medium uppercase">{{- block.settings.heading -}}</div>
                      {%- endif -%}

                      {%- case block.type -%}
                        {%- when '@app' -%}
                          {% render block %}
                        {%- when 'text' -%}
                          <div class="footer-block__details-content rte body-text">
                            {{ block.settings.subtext }}
                          </div>
                        {%- when 'link_list' -%}
                          {%- if block.settings.menu != blank -%}
                            <ul class="footer-block__details-content list-unstyled">
                              {%- for link in block.settings.menu.links -%}
                                <li class="flex">
                                  <a
                                    href="{{ link.url }}"
                                    class="link link--text list-menu__item body-text list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                                  >
                                    {{ link.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                      {%- endcase -%}
                    </div>
                  {%- endfor -%}
              </div>
            </div>

          </div>
        {%- endif -%}
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>

    </div>
    <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__copyright caption flex">
        <small class="copyright__content body-text-v3"
          >&copy;{{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
        
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "Social Links Container Width",
          "default": 82,
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px"
        },
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "Social Links Container Width",
          "default": 82,
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px"
        },

      ]
    },
  ],
  "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#ffffff"
      },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "html",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "range",
      "id": "newsletter_container_width",
      "label": "Newsletter Container Width",
      "default": 491,
      "min": 450,
      "max": 550,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content"
    },
    {
      "type": "text",
      "id": "also_available_title",
      "label": "Also Available title",
      "default": "Also Available In"
    },
    {
      "type": "url",
      "id": "walmart_link",
      "label": "Walmart URL"
    },
    {
      "type": "url",
      "id": "ebay_link",
      "label": "Ebay URL"
    },
    {
      "type": "url",
      "id": "etsy_link",
      "label": "Etsy URL"
    },
    {
      "type": "checkbox",
      "id": "also_available",
      "default": true,
      "label": "Enable also available"
    },
    {
      "type": "text",
      "id": "social_title",
      "label": "Social link title",
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label",
      "info": "t:sections.footer.settings.show_social.info"
    },
    {
      "type": "range",
      "id": "social_container_width",
      "label": "Social Links Container Width",
      "default": 82,
      "min": 60,
      "max": 160,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Margin - Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Margin - Mobile",
      "default": 25
    },
    {
      "type": "header",
      "content": "Padding - Desktop"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Padding Top - Desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 70
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom - Desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 35
    },
    {
      "type": "header",
      "content": "Padding - Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding Top - Mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 25
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom - Mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 25
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
