{{ 'hero--banner.css' | asset_url | stylesheet_tag }}
{%- style -%}
 
  {% if section.settings.mobile_height != "auto" %}
     {% assign mobile_aspect_ratio = section.settings.mobile_height | remove: "px" | times: 1 %}
          .video-banner-{{ section.id }} video,
          .video-banner-{{ section.id }} img{
                height: {{  section.settings.mobile_height }};
                overflow: hidden;
                 aspect-ratio: 375/{{ mobile_aspect_ratio }};
          }
    {% endif %}
  @media only screen and (min-width: 769px) {
  
    {% if section.settings.section_height != "auto" %}
      {% assign desktop_aspect_ratio = section.settings.section_height | remove: "px" | times: 1 %}
          .video-banner-{{ section.id }} video,
          .video-banner-{{ section.id }} img {
                /* height: {{  section.settings.section_height }} */
                aspect-ratio: 1440/{{ desktop_aspect_ratio }};
                overflow: hidden;
          }
    {% endif %}
  }

  .video-banner-{{ section.id }} {
    color: {{ section.settings.text_color }};
  }
  .video-banner-{{ section.id }} .button {
   color: {{ section.settings.button_color }};
   background: {{ section.settings.button_background_color }};
  }
  .video-banner-{{ section.id }} .button--secondary{
    background: transparent;
    color: {{ section.settings.button_color }};
    border: 1px solid;
  }

{%- endstyle -%}
{% liquid
    assign banner_link = false
    assign has_only_button  = false
   if  section.settings.title == blank and section.settings.subheading == blank and section.settings.link != blank and section.settings.link_text == blank
      assign banner_link = true
   endif

   if  section.settings.title == blank and section.settings.subheading == blank and section.settings.link != blank and section.settings.link_text != blank
      assign has_only_button = true
   endif

%}

<section class="video-banner video-banner-{{ section.id }} scroll-trigger animate--slide-in  {%  if section.index == 1 and section.settings.enable_tranprent_header == true %} transprent-header{%  endif %}">
    <div class="video-banner-wrapper {% if section.settings.ebable_spacing == true %} has-spacing{%  endif %}">
        {% if section.settings.video_desktop != blank or section.settings.desktop_image != blank %}
          {% if banner_link == true %}
            <a href="{{ section.settings.link }}"> 
          {%  endif %}
            <div class="video-banner-media flex">
                
                {%  render 'banner-image-video', main_section: section %}
            </div>
             {% if banner_link == true %}
              </a>
              {%  endif %}
        {% endif %}
        {% if has_only_button == true %}
            <div class="video-banner-content page-width content-align-bottom-right">
                 <a href='{{ section.settings.link }}' class="flex video-content-arrow__button body-text-small small-body-text-small">
                  {{ section.settings.link_text }}
                   <span class="flex arrow-link">{% render 'icons', icon: 'button-arrow' %}</span>
                </a>
            </div>
        {%  else %}
          {%  if  section.settings.title != blank or section.settings.description != blank or section.settings.subheading != blank or  section.settings.link != blank and section.settings.link_text != blank %}
              <div class="video-banner-content page-width content-align-{{ section.settings.text_align }}">
                  <div class="video-banner-content__inner-wrapper">
                  {%- if section.settings.title != blank -%}
                      <div class="video-content__heading heading-extra-large small-heading-extra-large heading-text-large-thin">{{ section.settings.title }}</div>
                  {%  endif %}
                  {%- if section.settings.subheading != blank -%}
                      <div class="video-content__subheading heading-text-small-thin">{{ section.settings.subheading }}</div>
                  {%  endif %}
                  {%- if section.settings.description != blank -%}
                      <div class="video-content__description boody-text">{{ section.settings.description }}</div>
                  {%  endif %}
                  {%- if section.settings.link != blank and section.settings.link_text != blank -%}
                      <a href='{{ section.settings.link }}' class="video-content__button button {%if section.settings.button_type == "outline" %} button--secondary {% endif %} body-text-small small-body-text-small">{{ section.settings.link_text }}</a>
                  {%  endif %}
                  </div>
              </div>
          {% endif %}
        {%  endif %}

    </div>

</section>

{% schema %}
{
  "name": "Hero Banner",
  "class": "index-section--hero",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_tranprent_header",
      "label": "Enable Transprent Header"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "button_background_color",
      "label": "Background Color",
      "default": "#ffffff",
      "visible_if": "{{section.settings.button_type == 'solid'}}",
    },
    {
      "type": "checkbox",
      "id": "ebable_spacing",
      "label": "Enable Spacing"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color",
      "default": "#000000"
    },
     {
      "type": "radio",
      "id": "media_type_desktop",
      "label": "Media type - Desktop",
      "default": "video",
      "options": [
        { 
          "value": "image", 
          "label": "Image" 
        },
        { 
          "value": "video", 
          "label": "Video" 
        }
      ]
    },
    {
      "type": "radio",
      "id": "media_type_mobile",
      "label": "Media type - Mobile",
      "default": "video",
      "options": [
        { "value": "image", 
          "label": "Image" 
        },
        { 
          "value": "video", 
          "label": "Video" 
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "video",
      "id": "video_desktop",
      "label": "Video - Desktop",
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "Video - Mobile",
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link",
      "info": "This will apply to the banner when the heading, subheading, and link text are all blank."
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button Type",
      "default": "outline",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text Align",
      "default": "bottom-left",
      "options": [
        {
          "value": "center-left",
          "label": "Center Left"
        },
        {
          "value": "center-center",
          "label": "Center"
        },
        {
          "value": "center-right",
          "label": "Center Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "Section Height - Desktop",
      "default": "auto",
      "options": [
        {
            "label": "Auto",
          "value": "auto"
        },
        {
          "label": "450px",
          "value": "450px"
        },
        {
          "label": "550px",
          "value": "550px"
        },
        {
          "label": "650px",
          "value": "650px"
        },
        {
          "label": "750px",
          "value": "750px"
        },
        {
          "label": "800px",
          "value": "800px"
        },
       // {
         // "label": "t:sections.hero-video.settings.section_height.options.100vh.label",
        //  "value": "100vh"
        //}
      ]
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "Section Height - Mobile",
      "default": "auto",
      "options": [
        {
          "label": "Auto",
          "value": "auto"
        },
         {
          "label": "195px",
          "value": "195px"
        },
        {
          "label": "250px",
          "value": "250px"
        },
        {
          "label": "350px",
          "value": "350px"
        },
        {
          "label": "450px",
          "value": "450px"
        },
        {
          "label": "550px",
          "value": "550px"
        },
        {
          "label": "650px",
          "value": "650px"
        },
        {
          "label": "750px",
          "value": "750px"
        },
         {
          "label": "850px",
          "value": "850px"
        },
        //{
          //"label": "t:sections.hero-video.settings.mobile_height.options.100vh.label",
          //"value": "100vh"
        //}
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
