{{ 'two-image-grid.css' | asset_url | stylesheet_tag }}
{%- style -%}
  #two-image-grid-{{ section.id }} {
    background: {{ section.settings.background_color }};
  }
 .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
{%- endstyle -%}
<section id="two-image-grid-{{ section.id }}" class="two-image-grid section-{{ section.id }}-padding" >
  {%  if section.settings.heading != blank %}
          <div class="section-heading page-width heading-text-large-thin {% if section.settings.text_align == "center" %}center {%  endif %}" style="color: {{ section.settings.heading_text_color  }}">
            {{ section.settings.heading }}
          </div>
        {%  endif %}

  <div class="two-image-grid-wrapper page-width  {% if section.settings.enable_space_betwn_img != true %} no_spacing {% endif %} {% if section.settings.enable_inline_spacing != true %} no_padding {%  endif %} relative">
    {% for block in section.blocks %}
        <div class="two-image-item">
          {% if block.settings.link != blank %}
            <a class="two-image-grid-link text-decoration-none" href="{{ block.settings.link }}">
          {%  endif %}
        {% if block.settings.image != blank%}
          <div class="two-image-grid-item flex">
            {{ block.settings.image  | image_url: width: 2500, height:3500 | image_tag  }}
          </div>
        {% endif %}
        {% if block.settings.heading != blank or block.settings.subheading != blank %}
            <div class="two-image-grid-content-wrapper">
              <div class="two-image-item-inner-wrapper">
                {% if block.settings.heading != blank %}
                  <div class="two-image-grid__heading heading-text-large-thin" style="color: {{ section.settings.text_color }}">{{ block.settings.heading }}</div>
                {% endif %}
                {% if block.settings.subheading != blank %}
                  <div class="two-image-grid__subheading body-text" style="color: {{ section.settings.text_color }}">{{ block.settings.subheading }}</div>
                {% endif %}
              </div>
            </div>
        {%  endif %}
        {% if block.settings.link != blank %}
          </a>
        {%  endif %}
        </div>
      {% endfor %}
    </div>
</section>

{% schema %}
  {
    "name": "Two Image Grid",
    "tag": "section",
    "max_blocks": 2,
    "settings": [
      //{
        //"type": "color",
       // "id": "background_color",
        //"label": "Background Color",
      //},
      {
        "type": "color",
        "id": "heading_text_color",
        "label": "Heading Text Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000"
      },
      {
        "type": "checkbox",
        "id": "enable_space_betwn_img",
        "label": "Enable Sapcing In Between Image - Desktop",
        "default": true,
      },
      {
        "type": "checkbox",
        "id": "enable_inline_spacing",
        "label": "Enable Inline Spacing - Desktop",
        "default": true,
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Heading Text Alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
        ]
      },
      {
        "type": "header",
        "content": "Padding - Desktop"
      },
      {
        "type": "range",
        "id": "padding_top_desktop",
        "label": "Padding Top - Desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 70
      },
      {
        "type": "range",
        "id": "padding_bottom_desktop",
        "label": "Padding Bottom - Desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 35
      },
      {
        "type": "header",
        "content": "Padding - Mobile"
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "label": "Padding Top - Mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 25
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom - Mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 25
      }      
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Image",
        "limit": 2,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
        ]
      },
    ],
    "presets": [
      {
        "name": "Two Image Grid",
      }
    ]
  }
{% endschema %}